/* 菜单列表 */
.menu_list{overflow: hidden;}
.menu_list li{height: 40px; line-height: 40px; padding: 8px 10px 8px 16px; background-color: #FFF;}
.menu_list i{display: inline-block; text-align: center;}
.menu_list b{padding: 0 5px;}
.menu_list .ico i{width: 40px; font-size: 20px; color: @IconColor; background-color: #F2F4F8; border-radius: 50%;}
.menu_list .info{font-size: 14px; color: @Info;}
.menu_list .ui_arrow_right{width: 28px; font-size: 12px; color: @Info;}
